<div class="card mb-5">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <p class="card-text">
      <p class="lead">
        Everything is configured, click <a href="/?login">here</a> to login
      </p>
    </p>
  </div>
</div>
