{% extends 'layout.html.twig' %}
{% block content %}
  <div class="alert alert-warning" role="alert">
    You denied the client access to your FrogOS account! If you did this by mistake, you should <a href="/?login">
      try again
    </a>.
  </div>
{% endblock %}
